.header {
  padding: 0 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
  gap: 20px;
  height: 72px;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  /* border: 1px solid green; */
  height: 100%;
  cursor: pointer;
}

.header__left img {
  max-width: none;
}

.header__burger-icon {
  display: none; /* Hide by default */
}

.header__left-category-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header__left-category-container-topic {
  font-size: var(--font-size-14);
  font-weight: 500;
  color: var(--dark-gray);
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: all 0.2 ease-in-out;
  width: 100%;
}

.header__left-category-container-topic:hover {
  color: var(--light-blue);
}

.header__searchbox {
  display: flex;
  align-items: center; /* Center the icon and input vertically */
  position: relative;
  width: 100%;
  /* margin-left: 60px; */
}

.header__searchbox-full {
  flex: 1;
  display: none;
  position: relative;
  /* width: 100%; */
  background: white; /* Background color for the search area */
  z-index: 10; /* Ensure it appears above other elements */
}

.header__searchbox-full-searchIcon {
  position: absolute;
  left: 12px;
}

.header__searchbox-full-closeIcon {
  position: absolute;
  right: 12px;
}

.header__searchbox-input {
  flex-grow: 1;
  padding: 12px 40px; /* Add some padding for better appearance */
  border: none;
  border-radius: 40px; /* Rounded corners */
  width: 100%;
  font-size: var(--font-size-14);
  font-weight: 500;
  background: #eeeeee;
}

.header__searchbox-input:focus {
  outline: 2px solid #0b4374; /* Change the color and thickness as needed */
  border-color: #0b4374; /* Optional: change border color on focus */
}

.header__searchbox-icon {
  position: absolute;
  left: 12px;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  width: 100%;
}

.header__right-login,
.header__right-signup {
  font-size: var(--font-size-14);
  font-weight: 500;
  border: 1px solid var(--primary);
  padding: 10px 16px;
  height: 100%;
  border-radius: 40px;
  flex-grow: 1;
}

.header__right-cartIcon {
  margin: 0 8px;
}

.header__right-instructor {
  margin: 0 4px;
  cursor: pointer;
}

.header__right-instructor h1 {
  font-size: var(--font-size-14);
  font-weight: 600;
  text-transform: capitalize;
}

.header__right-lan {
  display: flex;
  align-items: center; /* Center items vertically */
  flex-grow: 1;
}

.language-switch {
  display: flex;
  cursor: pointer;
  border-radius: 20px;
  background-color: white;
  width: 100px;
  justify-content: space-between;
  border: 1px solid var(--primary);
}

.switch-label {
  width: 50%;
  border-radius: 40px;
  text-align: center;
  padding: 8px;
  font-size: var(--font-size-12);
  transition: background-color 0.3s, color 0.3s;
}

.switch-label.active {
  background-color: var(--primary);
  color: white;
}

.switch-label:not(.active) {
  background-color: white;
  color: var(--primary);
}

.header__right-searchIcon {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); /* Transparent black background */
  z-index: 50; /* Ensure it appears above other elements */
}

/* Media Query for smaller screens */
@media (max-width: 926px) {
  .header {
    position: relative;
    justify-content: space-between;
    gap: 0;
  }

  .header__left {
    justify-content: center; /* Center the logo and burger icon */
    flex-grow: 1; /* Allow left section to grow */
    position: absolute; /* Position it absolutely */
    left: 50%; /* Center horizontally */
    top: 50%; /* Center vertically */
    transform: translate(
      -50%,
      -50%
    ); /* Adjust position back by half its width and height */
  }

  .header__searchbox {
    display: none; /* Hide search box on smaller screens */
  }

  .header__burger-icon {
    display: block; /* Show burger icon on smaller screens */
  }

  .header__left-category-container-topic {
    display: none;
  }

  .header__right {
    justify-content: flex-end;
    width: 100%;
  }

  .header__right-login,
  .header__right-signup,
  .header__right-instructor,
  .header__right-lan {
    display: none;
  }
  .header__right-searchIcon {
    display: flex;
    cursor: pointer;
    margin-left: 6px;
  }
  .header__searchbox-full {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 926px) {
  .overlay {
    background-color: transparent;
  }
}
